{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h1 class="mb-4">
      {% if mode == 'add' %}Add{% elif mode == 'maintain' %}Maintain{% endif %} Customer
    </h1>
    <form method="POST">
      {% csrf_token %}
      <div class="mb-4">
        {{ form.as_p }}
      </div>

      <!-- Referral Field -->
      <div class="mb-4">
        <label for="referral_id" class="form-label">Referral (Introducer)</label>
        <select id="referral_id" name="referral_id" class="form-select">
          <option value="">Select a referral</option>
          {% for ref_customer in referral_customers %}
            <option value="{{ ref_customer.id }}"
                    {% if customer and customer.referral and customer.referral.id == ref_customer.id %}selected{% endif %}>
              {{ ref_customer.name }} ({{ ref_customer.phone }})
            </option>
          {% endfor %}
        </select>
      </div>

      <!-- 顯示目前的點數 -->
      {% if mode == 'maintain' %}
        <div class="mb-4">
          <label class="form-label">Current Points</label>
          <p>{{ customer.points }}</p>
        </div>
      {% endif %}

      <!-- Vehicle Formset -->
      {{ vehicle_formset.management_form }}
      <h2 class="mb-3">Vehicles</h2>
      <div class="table-responsive">
        <table class="table table-bordered">
          <!-- 表格標題 -->
          <thead>
          <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Plate number</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
          <!-- 渲染每筆表單資料 -->
          {% for form in vehicle_formset %}
            <tr>
              <td>{{ form.brand }}</td>
              <td>{{ form.model }}</td>
              <td>{{ form.plate_number }}</td>
              <td>{{ form.DELETE }}</td>
              <!-- 確保渲染表單隱藏的 ID 欄位 -->
              {{ form.id }}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-between mt-4">
        <button type="submit" class="btn btn-success">
          {% if mode == 'add' %}Add{% elif mode == 'maintain' %}Update{% endif %}
        </button>
        <a href="{% url 'customer_search' %}" class="btn btn-secondary">Exit</a>
      </div>
    </form>
  </div>

  <!-- JavaScript to format plate_number -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var plateNumberInputs = document.querySelectorAll('input[name$="plate_number"]');
      plateNumberInputs.forEach(function (input) {
        input.addEventListener('input', function () {
          input.value = input.value.toUpperCase().replace(/[^A-Z0-9]/g, '');
        });
      });
    });
  </script>
{% endblock %}